/*Utilitaires*/
.vertical-align-item{ /* Mettre des commentaires <!-- --> entre les items */
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.pull-down{

}
/* Styles utilitaires */
.btn-vvb{

}

/*Styles header */

#bandeau{ /* bandeau connexion */
	background: #1D8AC9;
	background: -moz-linear-gradient(left, #1D8AC9 0%,#CFFF19 50%,#1D8AC9 100%);
	background: -webkit-linear-gradient(left, #1D8AC9 0%,#CFFF19 50%,#1D8AC9 100%);
	background: linear-gradient(to right, #1D8AC9 0%,#CFFF19 50%,#1D8AC9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D8AC9', endColorstr='#1D8AC9',GradientType=1 );
}
#bandeau button{ /* bandeau connexion, button */
	color: #1D8AC9;
	background: #fff;
	text-transform: uppercase;
	margin: 2px 0;
}

header.principal{ /* main header*/
	font-size: 125%;
}
header.principal > div{
	min-height: 425px;
}
header.principal video{
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 10px 0 0 0 ;
	min-width: 103.75%;
	min-height: 103.75%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
}
header.principal nav a{ /* top menu */
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
}
header.principal nav a:not(:last-child){ /* top menu */
	margin-right: 25px;
}
header.principal > div > nav{ /* Sub-Menu */
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 0;
	margin-bottom: 50px;
}

header.principal > div > nav .btn{ /* Sub-Menu links */
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 0px;
	color: #fff;
	font-weight: normal;
	font-size: 15.75px;
}

header.principal nav .btn:hover, header.principal nav a:hover{
	text-decoration: underline;
}

/* Style content */

#content{
	background-color: #fff;
	padding-top: 50px;
}
#content h2{
	text-transform: uppercase;
	font-weight: bold;
	color: #ADCE4A;
}
#content h2::before, #content h2::after{
	content: "";
	display: block;
	margin: 0 auto;
	height: 0px;
	width: 180px;
	padding: 3px;
}
#content h2::before{
	border-top: 3px solid #ADCE4A;
	/*border-bottom: 3px solid #ADCE4A;*/
}
#content h2::after{
	/*border-top: 3px solid #ADCE4A;*/
	border-bottom: 3px solid #ADCE4A;
}
@media (max-width: 768px) { /* equivalent boostrap col-xs- */
	#cmap + div{ /* liste régions */
		text-align: center;
	}
}

#liste_annonces .annonce .infos img{
	height: 40px;
}
#liste_annonces .annonce .infos h4{
	height: 40px;
	text-transform: capitalize;
	font-style: italic;
}
#liste_annonces .annonce .infos + div .btn{
	color: #fff;
	background-color: #ADCE4A;
}
#liste_annonces .annonce .infos + div .btn:hover{
	background-color: #95B33E;
}
@media (max-width: 992px) { /* equivalent boostrap col-sm- et inferieurs */
	.text-right.text-center-on-sm{ /* liste régions */
		text-align: center;
	}
}
/* Css pour Embed Google Map responsive*/
.map_responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map_responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
