/*Utilitaires*/
.vertical-align-item{ /* Mettre des commentaires <!-- --> entre les items */
	    display: inline-block;
	    vertical-align: middle;
	    float: none;
}

/* Styles utilitaires */
.btn-vvb{

}

/*Styles header */

body > .container-fluid > .row:first-child{ /* bandeau connexion */
	background: #1D8AC9;
	background: -moz-linear-gradient(left, #1D8AC9 0%,#CFFF19 50%,#1D8AC9 100%);
	background: -webkit-linear-gradient(left, #1D8AC9 0%,#CFFF19 50%,#1D8AC9 100%);
	background: linear-gradient(to right, #1D8AC9 0%,#CFFF19 50%,#1D8AC9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D8AC9', endColorstr='#1D8AC9',GradientType=1 );
}
body > .container-fluid > .row:first-child button{ /* bandeau connexion, button */
	color: #1D8AC9;
	background: #fff;
	text-transform: uppercase;
	margin: 2px 0;
}

header{
	font-size: 125%;
}
header video{
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 10px 0 0 0 ;
	min-width: 103.75%;
	min-height: 103.75%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
}
header nav a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
}
header nav a:not(:last-child){
	margin-right: 25px;
}
header > div > nav{ /* Sub-Menu */
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 0;
}

header > div > nav .btn{ /* Sub-Menu links */
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 0px;
	color: #fff;
	font-weight: bolder;
}

/* Code Corentin MONMASSON */

/* Css pour Embed Google Map responsive*/
.map_responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map_responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
